html {
    scroll-behavior: smooth;
    height:100%
}

body {
    position: absolute;
    width: 100%;
}
span.autor{
    font-size:small;
}
span.categ{
    font-size:x-small;
}
span.categ a{
    color:red;
}

span.tags {
    font-size: small;    
}
span.tags a{
    color:darkblue;
}
span.tags a:hover{
    text-decoration:underline;
}

div.comnv{
    background-image: url('comnv.png') !important;
}

@keyframes fadeon {
    from {opacity:0;}
    to {opacity:1;}
}

.cscat {
    opacity:0;
    animation-name: fadeon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.linkbox{
    border-radius: 0px 20px;
}
.ccont {
    background-color:rgba(255,255,255,0.8);
    padding:25px;
}

.clink {
    background-color:rgba(255,255,255,0.8);
    padding:5px;
}

.linkbtn{
    bottom: 0px;
    text-align:right !important;
    margin-top: -60px;
}

.linkbtnn{
    background-color:#00d1b2;
    display:inline-block;
    padding: 2px;
    border-radius: 10em;
    font-size:20px;
    padding: 15px;

}

footer{
    background-color:rgba(255,255,255,0.8) !important;
    border-radius: 10em;
    max-width:30%;
    text-align:center;
    padding:10px;

    margin:auto;

}

.ad{
    background-image: url('fondo-ad.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;

}


.partbox{
		height: 400px;
		overflow: scroll;
}
